@import url('./assets/css/bootstrap.css');
@import url('./assets/fonts/stylesheet.css');

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #bdcdd6;
}

.ff-varela {
  font-family: 'Varela Round Regular';
}

.container-bg {
  /* background-color: #93bfcf; */
}

.item-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
/* we control basket div. if basket div <606 px, we need to apply this css att.>>>>>>>>>>>>>>>>>>>>
*/
.item-img-sm {
  width: 100%;
  height: 70px;
  object-fit: cover;
}

.margin-reset-sm {
  margin-top: 0;
  margin-bottom: 0;
}

.height-40 {
  height: 40%;
}

.padding-reset {
  padding: 0;
}

.font-size-sm {
  font-size: 0.85rem;
}

.btn-sm-cancel-xsm {
  padding: 0rem 0.15rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  background-color: red;
  color: white;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.img {
  /* height: 200px; */
  width: 45%;
}

.item-card {
  width: 50%;
}
.border-bottom {
  border-bottom: 2px dotted !important;
}
.card-border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.244);
}

.img-border {
  border: 2px solid #58839c;
}

.btn {
  background-color: #196372 !important;
}
.btn-sm-cancel {
  padding: 0.2rem 0.25rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  background-color: red;
  color: white;
}

.basket-parent {
  display: inline;
  position: relative;
}
.basket-icon {
  font-size: 15px;
  position: absolute;
  padding: 2px;
  width: 17px;
  height: 17px;
  bottom: -7px;
  right: -5px;
  background-color: red;
  color: white;
  font-weight: 800;
  border-radius: 5px;
}

.detail-item-img {
  width: 75%;
  /* height: 200px; */
  object-fit: cover;
}

@media (max-width: 991.98px) {
  .item-card {
    width: 100%;
  }
}
